

/*Color of links in top navbar*/
.nav a:link, nav a:visited, nav a:active { color: black; }
.nav a:hover { color: black; }
.navbar-brand a { color: white; }

input[type=text], .txtarea {
	margin-bottom: 0px;
}

body {
	margin-bottom: 35px;
}

body > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

/*The footer at the bottom of every page*/
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 30px;
}
.footer {
	padding-bottom: 30px;
}
footer {
	background-color: #510c76;
	color: white;
	padding: 15px;
	bottom: 0;
	height: 50px;
	position: fixed;
	width: 100%;
}

/*Submit buttons for log form*/
input#gatherbutton,
input#sendbutton,
input#resetbutton {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
input#gatherbutton {
	margin-top: 25px;
	margin-bottom: 0px;
}
input#sendbutton:hover {
	color: white;
	margin-bottom: 0px;
}
input#resetbutton {
	margin-bottom: 25px;
}

#start-tour {
	position: fixed;
	bottom: 0;
	right: 0;
	color: white;
	z-index: 2;
}
#start-tour:focus {
	outline: none;
}


/* The following creates a custom bootstrap button. */
/* See http://twitterbootstrap3buttons.w3masters.nl/?color=%238343ad to create another. */
.btn-custom {
	background-color: #8343ad;
	border-color: #8343ad;
	color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	background-color: #753c9b;
	border-color: #673588;
	color: white;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
	background-color: #8343ad;
	border-color: #8343ad;
}


/* Begin navbar.css */
/* navbar */
.navbar-default {
    background-color: #510c76;
    border-color: #510c76;
	margin-bottom: 0;
	border-radius: 0;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: white;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #510c76;
    background-color: white;
}
.navbar-default .navbar-nav > .open .dropdown-menu {
	background-color: #510c76;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: white;
	background-color: #510c76;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #510c76;
    border-bottom-color: #510c76;
}

/* Change the padding so all items are the same height in the navbar */
li.dropdown {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Sets styling of text for megalink button */
.megalink {
	text-align: left;
}

/* Sets to give text-shadow on hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	text-shadow: 1px 1px 3px black;
}
.navbar-default .navbar-nav > .open > a:hover {
	text-shadow: 1px 1px 3px grey;
}

/* Fix to stop the horizontal scrollbar from showing up on collapsing */
.navbar-default .navbar-collapse {
	overflow-x: hidden;
}

/* Change the max-width to adjust the breakpoint treshold for the navbar to collapse */
@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
